doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .pure-g-r
      .pure-u-1
        if info
          #info.text-center
            p.pull-center.info #{info}
        if error
          #error.text-center
            p.pull-center.error #{error}
      .pure-u-1-4
      .pure-u-1-2.main
        block content