@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700|Merriweather');
body{
  font-family: 'Merriweather Sans';
  font-weight: 300;
  color: #222;
  background-color: #fff;
  font-size: 14px;
}

a {
  color: #00B7FF;
}